@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    *, ::before, ::after {
        box-sizing: border-box;
    }

    html {
        min-height: 100dvh;
        font-kerning: auto;
    }
}

/* ====================== */
/* Section: Reusable Styles */
/* ====================== */

.border-leaf__tr {
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 1.5rem;
    border-top-left-radius: 0.25rem;
}

.border-leaf__tr--sm {
    border-top-right-radius: 0.125rem;
    border-bottom-right-radius: 0.75rem;
    border-bottom-left-radius: 0.125rem;
    border-top-left-radius: 0.75rem;
}

.border-leaf__tl {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 1.5rem;
    border-bottom-left-radius: 0.25rem;
    border-top-left-radius: 1.5rem;
}