@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    *, ::before, ::after {
        box-sizing: border-box;
    }

    html {
        min-height: 100dvh;
        font-optical-sizing: auto;
        font-kerning: auto;
    }
}

/* ====================== */
/* Section: Reusable Styles */
/* ====================== */

.border-leaf__1 {
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 1.5rem;
    border-top-left-radius: 0.25rem;
}